<!DOCTYPE html>
<html>
<header>

</header>

<body>

  <h1>
      Board:
      <%= @board.title %>
  </h1>

  <%= render 'cards/cardsform', card: @card, board: @board %>

  <div id="cards">
  <% @board.cards.each do |card| %>
    <h3>
        <%= card.title %>
    </h3>
  </div>

    <div id="boardId" data-boardId="<%=@board.id%>"></div>
    <div id="carddId" data-carddId="<%=card.id%>"></div>
    <div id="new-task"></div>
      <ul id="tasklist"></ul>
  <%end%>
</body>
</html>
